elpa/
games/
init.el~
*~
transient/
projectile-bookmarks.eld
recentf
network-security.data
/backups/
/eshell/
projectile.cache
tramp
custom.el
init.el
.cache/
.dap-breakpoints
.lsp-session-v1
projects
forge-database.sqlite
session.10ce088b09f2789505164881226734303400000022060089
smex-items
eln-cache/
.extension/
url/
